addict
asttokens
attrs
blinker
certifi
charset-normalizer
click
comm
ConfigArgParse
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
executing
fastjsonschema
Flask
fonttools
idna
importlib_metadata
ipydatawidgets
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter-rfb
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
narwhals
nbformat
nest-asyncio
numpy
open3d

opencv-python
opencv-python-headless
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pykitti
pyparsing
pyquaternion
python-dateutil
pythreejs
pytz
PyYAML
pyzmq
referencing
requests
retrying
rpds-py
scikit-learn
scipy
setuptools
six
stack-data
threadpoolctl
tornado
tqdm
traitlets
traittypes
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
widgetsnbextension
zipp